$font-family:MicrosoftJhengHeiRegular;
$font-xl:24px;
$font-l:20px;
$font-m:16px;
$font-s:14px;
$mainColor:#3D1101;
$main2Color:#EFE9E7;
/* login */
.login{
    padding-bottom: 1em;
    .loginTitle{
        h2{
            text-align: center;
            font-family: NotoSansCJKtc-Black;
            font-size: 48px;
            color: #3D1101;
            font-weight: bolder;
            margin-bottom: 5px;
        }
        h3{
            text-align: center;
            font-family: NotoSansCJKtc-Medium;
            font-size: 20px;
            color: #3D1101;
            font-weight: bold;
            margin-bottom: 35px;
        }
    }
    .loginForm{
        max-width: 300px;
        margin: 0 auto;
        border-top: 3px solid #FF5E45;
        padding:15px;
        box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
        h3{
            font-weight: bold;
            font-family: NotoSansCJKtc-Black;
            font-size: 18px;
            color: $mainColor;
            margin-bottom: 16px;
            text-align: center;
        }
        label{
            font-family: MicrosoftJhengHeiRegular;
            font-size: $font-m;
            color: $mainColor;
        }
        input{
            background: #FFFFFF;
            border: 1px solid #CCCCCC;
            box-shadow: inset 0px 1px 0px 0px #ECECEC;
            border-radius: 3px;
            padding:8px;
        }
        .inputEmail,.inputPass{
            position: relative;
            margin:3px 0 1px;
            i{
                position: absolute;
                left: 9px;
                top: 10px;
            }
            input{
                width: 100%;
                padding-left: 30px; 
                &:hover{
                    box-shadow : inset 0 0 0 30px #fa0;
                }
                &:focus{
                    box-shadow : inset 0 0 0 30px #fa0;
                }
            }
        }
        .inputEmail{
            margin-bottom: 15px;
           
        }
        .forget{
            text-decoration: none;
            color: #FF5E45;
            font-family: MicrosoftJhengHeiRegular;
            font-size: 14px;
            margin-bottom: 30px;
            display: block;
            width: 70px;
            &:hover{
                box-shadow : inset 0 0 0 30px #fa0;
                color: white;
            }
        }
        .buttons{
            display: flex;
            justify-content: space-between;
            a{
                width: 125px;
                line-height: 32px;
                font-family: PingFangTC-Regular;
                font-size: 14px;
                color: #FFFFFF;
                border-radius: 3px;
                padding: 0;
                text-align: center;
                text-decoration: none;
                &:hover{
                    background: blue;
                    cursor: pointer;
                }
                &:focus{
                    background: blue;
                    cursor: pointer;
                }
            }
            input{
                width: 125px;
                line-height: 32px;
                font-family: PingFangTC-Regular;
                font-size: 14px;
                color: #FFFFFF;
                border-radius: 3px;
                padding: 0;
                &:hover{
                    background: blue;
                    cursor: pointer;
                }
                &:focus{
                    background: blue;
                    cursor: pointer;
                }
            }
            .resign{
                background: #000000 35%;
            }
            .submit{
                background: #F56C23 100%;
            }
        }
    }
}